<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hofuqi.timeline.common.dao.PlanDAO">
    
    <insert id="add" parameterType="PlanTO" useGeneratedKeys="true" keyProperty="id">
        insert into plan (user_id, created_date, title, content, icon)
        values
        (#{userId}, now(), #{title}, #{content}, #{icon})
    </insert>
    
    <update id="update" parameterType="PlanTO">
        update plan set
         <if test="title != null">
	        title = #{title},
	    </if>
         <if test="content != null">
	        content = #{content},
	    </if>
         <if test="status != null">
	        status = #{status},
	    </if>
         <if test="icon != null">
	        icon = #{icon},
	    </if>
        <if test="updatedDate != null">
	        updated_date = #{updatedDate},
	    </if>
	    ID = ID
	    where ID = #{id}
    </update>
    
    <delete id="delete" parameterType="long">
        delete from plan where id=#{id}
    </delete>
    
    <select id="getPlan" parameterType="PlanCriteria" resultType="PlanTO">
        select id, user_id userId, created_date createdDate, title, content, status, icon from plan
        where 1=1
        <if test="id != null and id != 0"> and id=#{id}</if>
        <if test="title != null and title != ''"> and title=#{title}</if>
        <if test="userId != null and userId != 0"> and user_id=#{userId}</if>
        <if test="content != null and content != ''"> and content like CONCAT('%', #{content}, '%')</if>
    </select>
    
    <select id="getPlanById" parameterType="long" resultType="PlanTO">
        select id, user_id userId, created_date createdDate, title, content, status, icon from plan
        where id=#{id}
    </select>
    
    <select id="getPlans" parameterType="PlanCriteria" resultType="PlanTO">
        select id, user_id userId, created_date createdDate,  title, content, status, icon from plan
        where 1=1
        <if test="id != null and id != 0"> and id=#{id}</if>
        <if test="userId != null and userId != 0"> and user_id=#{userId}</if>
        <if test="content != null and content != ''"> and content like CONCAT('%', #{content}, '%')</if>
        order by updated_date desc
        <if test="pageModel.pageSize != 0">
		     limit #{pageModel.offset}, #{pageModel.pageSize}
	    </if>
    </select>
    
    <select id="getPlansCnt" parameterType="PlanCriteria" resultType="int">
        select count(id) from plan
        where 1=1
        <if test="id != null and id != 0"> and id=#{id}</if>
        <if test="userId != null and userId != 0"> and user_id=#{userId}</if>
        <if test="content != null and content != ''"> and content like CONCAT('%', #{content}, '%')</if>
    </select>
    
</mapper>